body{
    background-color:#00FFFF ;
    }
    h1{
        color:#000000;
        font-family: ;
        background: ;
        text-align: center;
        font-size: 70px;
        }
        
        p{
            color: #000000;
    
        }
        p{font-size: xx-large;}
        #aliança {
            width: 100%;
        }
        