body{
    background-color:#00FFFF ;
    }
    h1{
        color:#000000;
        font-family: ;
        background: ;
        text-align: center;
        }
        
        p{
            color: #00FF00;
            font-family: ;
            font-size: ;
            background: ;
            }